# phpstorm project files
.idea

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# composer related
vendor
composer.lock

# local phpunit config and result cache
phpunit.xml
.phpunit.result.cache

# integration tests environment vars file
.env
